.Container{
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secc{
    background: white;
    border-radius: 40px;
    width: 90%;
    min-height: max-content ;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 30px;
}
.secc--val{
    background: white;
    border-radius: 40px;
    width: 85%;
    min-height: max-content ;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 30px;
}

h2{
    text-align: center;
    margin-bottom: 15px;
}

.AU-text{
    margin: 10px 35px;
    font-family: cursive;
    font-size: 20px;
    text-align: justify;

}

.List--valores{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

ol li {
    counter-increment: muffins;
    font-family: cursive;
    font-size: 20px;
    margin: 10px 30px;
    text-align: justify;
}

ol li:before{
    content: counter(muffins) ". ";
    /* Whatever custom styles you want here */
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
}

li:nth-child(1):before{
    color: var(--azul);
}
li:nth-child(2):before{
    color: var(--vino);
}
li:nth-child(3):before{
    color: var(--verdeOscuro);
}

ol {
    list-style: none;
    counter-reset: muffins;
}



ul li {
    font-family: cursive;
    font-size: 20px;
    margin-right: 20px;
    text-align: center;
}

ul li:before{
    content: "+";
    /* Whatever custom styles you want here */
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
}

ul li:nth-child(1):before{
    color: var(--vino);
}
ul li:nth-child(2):before{
    color: var(--verdeOscuro);
}
ul li:nth-child(3):before{
    color: var(--azul);
}
ul li:nth-child(4):before{
    color: var(--rosa2);
}
ul li:nth-child(5):before{
    color: var(--naranja);
}

ul {
    list-style: none;
}