* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--fondoGon);
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --beige: #fbd87f;
  --naranja: #F8B816;
  --negro: #040f16;
  --blancoGon: #f2eaea;
  /* --blancoGon: #f0f7f4; */
  --fondoGon: #79cda8;
  --narfuerte: #d82612;
  --rosa: #F39A9D;
  --rosa2: #ff19d5;
  --mor: #cd69bb;
  --azul: #08277c;
  --azulMar: #119DA4; 
  --azulClaro: rgb(15, 221, 221);
  --azulMarAlt: #16C6D0; 
  --verdeGon: #24c781;
  --verdeClaro: #00CC66;
  --verdeChillon: #5AFF15;
  --verdeOscuro: #68b32e;
  --vino: #a2373d;
}